@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephanedeluce\/\.rvm\/gems\/ruby-2\.1\.0\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*------------------------*\
    $Colors
\*------------------------*/
/*------------------------*\
    $Grids
\*------------------------*/
/*-----------------------------*\
	Variables
\*-----------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000318}}
.row:before, .row:after {
  content: "";
  display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000319}}
.row:after {
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000320}}
.row {
  zoom: 1; }

/*-----------------------------*\
	Grid
\*-----------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000338}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000342}}
.row {
  margin: 0 -10px;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000348}}
.container {
  width: 90%;
  margin: 0 auto;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-1 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 8.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-2 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 16.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-4 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 33.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-5 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 41.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-6 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-7 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 58.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-8 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 66.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-9 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-10 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 83.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-11 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 91.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
.col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000360}}
.hidden-xs, .visible-s, .visible-m, .visible-l {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000363}}
.visible-xs, .hidden-s, .hidden-m, .hidden-l {
  display: block; }

/*-----------------------------*\
	Responsive
\*-----------------------------*/
@media only screen and (min-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 8.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-2 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 16.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 33.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 41.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-7 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 58.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 66.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-9 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 83.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 91.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-s-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000373}}
  .container {
    width: 90%;
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000377}}
  .hidden-s, .visible-xs, .visible-m, .visible-l {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000380}}
  .visible-s, .hidden-xs, .hidden-m, .hidden-l {
    display: block; } }
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 8.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-2 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 16.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 33.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 41.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-7 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 58.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 66.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-9 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 83.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 91.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-m-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000388}}
  .container {
    width: 960px;
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000392}}
  .hidden-m, .visible-xs, .visible-s, .visible-l {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000395}}
  .visible-m, .hidden-xs, .hidden-s, .hidden-l {
    display: block; } }
@media only screen and (min-width: 1040px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 8.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-2 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 16.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 33.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 41.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-7 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 58.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 66.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-9 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 83.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 91.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\0000325}}
  .col-l-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\00003103}}
  .container {
    width: 1040px;
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\00003107}}
  .hidden-l, .visible-xs, .visible-s, .visible-m {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/_grid\.scss}line{font-family:\00003110}}
  .visible-l, .hidden-xs, .hidden-s, .hidden-m {
    display: block; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\000031}}
body {
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\000037}}
header h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\0000312}}
header h2 {
  font-size: 40px;
  font-weight: 200;
  line-height: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\0000318}}
h3 {
  line-height: 1.5em;
  margin: 20px 0;
  font-size: 24px;
  color: white;
  border-left: 4px solid #e08e0b;
  padding: 0 10px;
  position: relative;
  background: #f39c12;
  z-index: 10; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\0000329}}
p {
  margin-bottom: 1em;
  line-height: 1.3em;
  color: #667273;
  font-weight: 500;
  font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\0000336}}
a {
  font-weight: 600;
  text-decoration: none;
  color: #667273;
  border-bottom: 1px solid #f39c12; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\0000342}}
pre {
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\0000344}}
  pre code {
    padding: 10px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d9dcde; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\0000350}}
b {
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_layout\.scss}line{font-family:\0000354}}
.container {
  z-index: 20; }

/*------------------------*\
	$Headers
\*------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\000034}}
.header {
  z-index: 1;
  padding: 160px 0 180px 0;
  position: relative;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\000035}}
  .header h1, .header h2 {
    text-align: center;
    color: white;
    position: relative;
    z-index: 10; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000311}}
  .header h2 {
    text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000314}}
  .header .btn {
    margin: 70px auto 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000318}}
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.35); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000329}}
.header-grille {
  background: url("../img/grid.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000333}}
.header-config {
  background: url("../img/parameters.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000336}}
  .header-config h2 {
    padding: 60px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000340}}
.header-tools {
  background: url("../img/tools.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000343}}
  .header-tools h2 {
    padding: 60px 0; }

/*------------------------*\
	$Sections
\*------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000350}}
.section {
  padding: 40px 0;
  display: block;
  z-index: 5;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000357}}
  .section:before, .section:after {
    content: '';
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000370}}
  .section:after {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0; }

/*------------------------*\
	$Bouton
\*------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000377}}
.btn {
  display: inline-block;
  padding: 0 40px;
  background: #f39c12;
  color: white;
  text-decoration: none;
  line-height: 45px; }

/*------------------------*\
	$Grille
\*------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-1, .col-s-1, .col-m-1, .col-l-1 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-1.clean, .col-s-1.clean, .col-m-1.clean, .col-l-1.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-2, .col-s-2, .col-m-2, .col-l-2 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-2.clean, .col-s-2.clean, .col-m-2.clean, .col-l-2.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-3, .col-s-3, .col-m-3, .col-l-3 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-3.clean, .col-s-3.clean, .col-m-3.clean, .col-l-3.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-4, .col-s-4, .col-m-4, .col-l-4 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-4.clean, .col-s-4.clean, .col-m-4.clean, .col-l-4.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-5, .col-s-5, .col-m-5, .col-l-5 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-5.clean, .col-s-5.clean, .col-m-5.clean, .col-l-5.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-6, .col-s-6, .col-m-6, .col-l-6 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-6.clean, .col-s-6.clean, .col-m-6.clean, .col-l-6.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-7, .col-s-7, .col-m-7, .col-l-7 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-7.clean, .col-s-7.clean, .col-m-7.clean, .col-l-7.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-8, .col-s-8, .col-m-8, .col-l-8 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-8.clean, .col-s-8.clean, .col-m-8.clean, .col-l-8.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-9, .col-s-9, .col-m-9, .col-l-9 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-9.clean, .col-s-9.clean, .col-m-9.clean, .col-l-9.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-10, .col-s-10, .col-m-10, .col-l-10 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-10.clean, .col-s-10.clean, .col-m-10.clean, .col-l-10.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-11, .col-s-11, .col-m-11, .col-l-11 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-11.clean, .col-s-11.clean, .col-m-11.clean, .col-l-11.clean {
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000389}}
.col-12, .col-s-12, .col-m-12, .col-l-12 {
  background: #f39c12;
  border: 1px solid white;
  font-weight: 200;
  padding: 8px 5px;
  font-size: 14px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/git\/Basic_Grid\/assets\/sass\/style\/_modules\.scss}line{font-family:\0000396}}
  .col-12.clean, .col-s-12.clean, .col-m-12.clean, .col-l-12.clean {
    background: transparent;
    border: none; }
