@import "compass";
// @import "compass/reset";
/*-----------------------------*\
	Variables
\*-----------------------------*/
$grid_columns: 12!default;
$grid_gutter: 20px !default;

$grid_small: 720px !default;
$grid_medium: 960px !default;
$grid_large: 1040px !default;

$container_extrasmall: 100% !default;
$container_small: 100% !default;
$container_medium: 80% !default;
$container_large: 1040px !default;

%col {
	float: left;
	position: relative;
	min-height: 1px;
	padding: 0 $grid_gutter * 0.5;
}

%clearfix {
	&:before, &:after { content:""; display:table; }
	&:after { clear:both; }
	& { zoom:1; }
}

@mixin grid($suffix: ''){
	@for $i from 1 through $grid_columns{
		.col#{$suffix}-#{$i}{
			float: left;
			position: relative;
			min-height: 1px;
			padding: 0 $grid_gutter * 0.5;
			width: $i / $grid_columns * 100%;
		}
	}
}

/*-----------------------------*\
	Grid
\*-----------------------------*/
* {
	@include box-sizing(border-box);
}

.row {
	margin: 0 $grid_gutter * -0.5;
	@extend %clearfix;
}

.container {
	width: $container_small;
	margin: 0 auto;
}

@include grid();
@include grid('-s');
@include grid('-m');
@include grid('-l');


.hidden-xs, .visible-s,.visible-m, .visible-l {
	display: none;
}
.visible-xs, .hidden-s, .hidden-m, .hidden-l {
	display: block;
}

/*-----------------------------*\
	Responsive
\*-----------------------------*/
// Small
@media only screen and ( min-width: $grid_small ){
	@include grid('-s');
	.container {
		width: $container_small;
		margin: 0 auto;
	}
	.hidden-s, .visible-xs, .visible-m, .visible-l {
		display: none;
	}
	.visible-s, .hidden-xs, .hidden-m, .hidden-l {
		display: block;
	}
}

// Medium
@media only screen and ( min-width: $grid_medium ){
	@include grid('-m');
	.container {
		width: $container_medium;
		margin: 0 auto;
	}
	.hidden-m, .visible-xs, .visible-s, .visible-l {
		display: none;
	}
	.visible-m, .hidden-xs, .hidden-s, .hidden-l {
		display: block;
	}
}

// Large
@media only screen and ( min-width: $grid_large ){
	@include grid('-l');
	.container {
		width: $container_large;
		margin: 0 auto;
	}
	.hidden-l, .visible-xs, .visible-s, .visible-m {
		display: none;
	}
	.visible-l, .hidden-xs,  .hidden-s, .hidden-m {
		display: block;
	}
}
