@import "compass";
// @import "compass/reset";
/*-----------------------------*\
	Variables
\*-----------------------------*/
$grid_columns: 12!default;
$grid_gutter: 20px !default;

$grid_medium: 640px !default;
$grid_large: 1040px !default;

%col {
	float: left;
	position: relative;
	min-height: 1px;
	padding: 0 $grid_gutter * 0.5;
}

%clearfix {
	&:before, &:after { content:""; display:table; }
	&:after { clear:both; }
	& { zoom:1; }
}

@mixin grid($suffix: ''){
	@for $i from 1 through $grid_columns{
		.col#{$suffix}-#{$i}{
			@extend %col;
			width: $i / $grid_columns * 100%;
		}
	}
}

/*-----------------------------*\
	Grid
\*-----------------------------*/
* {
	@include box-sizing(border-box);
}

.row {
	margin: 0 $grid_gutter * -0.5;
	@extend %clearfix;
}

@include grid();

@for $i from 1 through $grid_columns{
	.col-m-#{$i}, .col-l-#{$i} {
		@extend %col;
	}
}

.hidden-s, .visible-m, .visible-l {
	display: none;
}
.visible-s, .hidden-m, .hidden-l {
	display: block;
}

/*-----------------------------*\
	Responsive
\*-----------------------------*/

// Medium
@media only screen and ( min-width: $grid_medium ){
	@include grid('-m');
	.hidden-m, .visible-s, .visible-l {
		display: none;
	}
	.visible-m, .hidden-s, .hidden-l {
		display: block;
	}
}

// Large
@media only screen and ( min-width: $grid_large ){
	@include grid('-l');
	.hidden-l, .visible-s, .visible-m {
		display: none;
	}
	.visible-l, .hidden-s, .hidden-m {
		display: block;
	}
}
