/*------------------------*\
	$Headers
\*------------------------*/
.header {
	h1, h2 {
		text-align: center;
		color: $blanc;
		position: relative;
		z-index: 10;
	}
	h2 {
		text-transform: uppercase;
	}
	.btn {
		margin: 70px auto 0;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background:rgba( $dark,0.10 );
	}
	z-index: 1;
	padding: 160px 0 180px 0;
	position: relative;
	text-align: center;
}
.header-grille {
	background: url( '../img/grid.jpg' ) no-repeat center center fixed;
	@include background-size(cover);
}
.header-config {
	background: url( '../img/parameters.jpg' ) no-repeat center center fixed;
	@include background-size(cover);
	h2 {
		padding: 60px 0;
	}
}
.header-tools {
	background: url( '../img/tools.jpg' ) no-repeat center center fixed;
	@include background-size(cover);
	h2 {
		padding: 60px 0;
	}
}
/*------------------------*\
	$Sections
\*------------------------*/
.section {
	padding: 40px 0;
	display: block;

	z-index: 5;
	position: relative;

	&:before, &:after {
		content: '';
		background:$blanc;

		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;

		@include transform-origin( 0,0 );
		@include transform(skewY( -2deg ));

		z-index: -1;
	}
	&:after {
		@include transform-origin( 100%,0 );
	}
}
/*------------------------*\
	$Bouton
\*------------------------*/
.btn {
	display: inline-block;
	padding: 0 40px;
	background:$sun;
	color: $blanc;
	text-decoration: none;
	line-height: 45px;
}
/*------------------------*\
	$Table
\*------------------------*/
.table {
	width: 100%;
	border: 1px solid #ccc;
	margin: auto;
	@include border-radius( 6px );
	@include box-sizing(border-box);
	border-collapse: collapse;
	overflow: hidden;
	font-size: 13px;
	td , th {
		color: #333;
		padding: 5px;
		border: 1px solid #ccc;
	}
	th {
		font-weight: bold;
	}
	.v-xs {
		background: #2ecc71;
		&:before {
			content: "visible";
			color: #fff;
			font-weight: normal;
			text-align: center;
			display: block;
		}
	}
	.v-s, .v-m, .v-l {
		background: #e74c3c;
		&:before {
			content: "hidden";
			color: #fff;
			font-weight: normal;
			text-align: center;
			display: block;
		}
	}
}
/*-----------------------------*\
	Responsive
\*-----------------------------*/
// Small
@media only screen and ( min-width: $grid_small ){
	.table {
		.v-s {
			background: #2ecc71;
			&:before {
				content: "visible";
			}
		}
		.v-xs, .v-m, .v-l {
			background: #e74c3c;
			&:before {
				content: "hidden";
			}
		}
	}
}

// Medium
@media only screen and ( min-width: $grid_medium ){
	.table {
		.v-m {
			background: #2ecc71;
			&:before {
				content: "visible";
			}
		}
		.v-xs, .v-s, .v-l {
			background: #e74c3c;
			&:before {
				content: "hidden";
			}
		}
	}
}

// Large
@media only screen and ( min-width: $grid_large ){
	.table {
		.v-l {
			background: #2ecc71;
			&:before {
				content: "visible";
			}
		}
		.v-xs, .v-s, .v-m {
			background: #e74c3c;
			&:before {
				content: "hidden";
			}
		}
	}
}
/*------------------------*\
	$Grille
\*------------------------*/
@for $i from 1 through $grid_columns {
	.grid-#{$i}, .grid-s-#{$i}, .grid-m-#{$i}, .grid-l-#{$i}{
		background:$sun;
		border: 1px solid $blanc;
		font-weight: 200;
		//padding: 8px 5px;
		line-height: 40px;
		font-size: 11px;
		color: $blanc;
		&.clean {
			background: transparent;
			border: none;
			line-height: 1.3em;
		}
	}
}