/*------------------------*\
    $Colors
\*------------------------*/
$dark : #000;
$greyc : #bdc3c7;
$greyf : #7f8c8d;
$sun : #f1c40f; //#e74c3c; //#3498db; //#34495e; //#f1c40f;// #f1c40f;
$blanc : #fff;

