/*------------------------*\
    $Colors
\*------------------------*/
$dark : #000;
$greyc : #bdc3c7;
$greyf : #7f8c8d;
$sun : #f39c12;// #f1c40f;
$blanc : #fff;

/*------------------------*\
    $Grids
\*------------------------*/
$grid_columns: 12;
$grid_gutter: 20px;

$grid_small: 720px;
$grid_medium: 960px;
$grid_large: 1040px;

$container_extrasmall: 100%;
$container_small: 100%;
$container_medium: 960px;
$container_large: 1040px;