/*------------------------*\
    $Colors
\*------------------------*/
$dark : #000;
$greyc : #bdc3c7;
$greyf : #7f8c8d;
$sun : #f1c40f; //#e74c3c; //#3498db; //#34495e; //#f1c40f;// #f1c40f;
$blanc : #fff;

/*------------------------*\
    $Grids
\*------------------------*/
$grid_columns: 12;
$grid_gutter: 20px;

$grid_small: 768px;
$grid_medium: 992px;
$grid_large: 1200px;

$container_extrasmall: 90%;
$container_small: 90%;
$container_medium: 960px;
$container_large: 1040px;